<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Assets/css/page-style.css">
    <link rel="stylesheet" type="text/css" href="../Assets/css/hexagons.min.css">
</head>
<body>
    <div class="container text-center">
        <br>
        <!-- Large Hexagon Buttons -->
        <a href="https://www.google.com/"><span class="hb inv hb-lg hb-custom"><i class="fa fa-xing"></i></span></a>
        <a href="#"><span class="hb inv hb-lg hb-custom"><i class="fa fa-skype"></i></span></a>
        <a href="#"><span class="hb inv hb-lg hb-custom"><i class="fa fa-dribbble"></i></span></a>
        <br>
        <br>
        <a href="#"><span class="hb inv hb-lg hb-custom"><i class="fa fa-xing"></i></span></a>
        <a href="#"><span class="hb inv hb-lg hb-custom"><i class="fa fa-skype"></i></span></a>
        <a href="#">Management Dashboard<span class="hb inv hb-lg hb-custom"><i class="fa fa-dribbble"></i></span></a>
        <a href="#">Management Dashboard<span class="hb inv hb-lg hb-custom"><i class="fa fa-building"></i></span></a>
        <!-- Large Hexagon Buttons  End -->
        <hr>
    </div><!-- /.container -->
    <script src="../Assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../Assets/js/hexagons.min.js"></script>
</body>
</html>